<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GFGRoomDatabase">
        <activity android:name=".BuscarFinActivity" android:label="Buscar Fin"/>
        <activity android:name=".EditFinActivity" android:label="Edit Fin"/>
        <activity android:name=".NewFinActivity" android:label="Nova Fin"/>
        <activity android:name=".ResultBuscaActivity" android:label="Resumo Fin"/>
        <activity android:name=".ResumoDespActivity" android:exported="false" />
        <activity android:name=".ResultBuscaCredActivity" android:label="Resumo Créditos Fin"/>
        <activity android:name=".ResultBuscaDespActivity" android:label="Resumo Despesas Fin"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>